.page {
  display: flex;
  justify-content: center;
  align-items: center;
}

.root {
  max-width: 1200px;
  padding: 24px;
}

.controls {
  display: flex;
}

.controls > input:nth-child(1n), select:nth-child(1n) {
  margin-right: 24px;
}

.controls > input:last-child {
  margin-right: 0;
}

@media screen and (max-width: 868px) {
  .title {
    font-size: 28px;
    line-height: 1;
  }

  .root {
    padding: 24px 0;
    width: 90%;
  }
}